<h1><%- title %></h1>
<%- messages() %>
<div class="background">
<form action="">
    <label for="account_email">Username: </label> 
    <input type="email" name="account_email" id="account_email">
    <label for="account_password" >Password</label> 
    <input type="text" name="account_password" id="account_password"> 
    <button>Login</button>
    <div>No account? <a href="/account/register">Register</a></div>
</form>
</div>