<%- messages() %>
<div id="register-background">
    <form id="register-form" action="/account/register" method="post" >
        <h1><%- title %></h1>
        <p id="requirement">ALL FIELDS ARE REQUIRED.</p>
        <label for="account_firstname">First name</label>
        <input type="text" name="account_firstname" id="account_firstname">
        <label for="account_lastname">Last name</label>
        <input type="text" name="account_lastname" id="account_lastname">
        <label for="account_email">Email address</label>
        <input type="email" name="account_email" id="account_email">
        <label for="email_password">Password</label>
        <input type="password" name="email_password" id="email_password" >
        <p>  Passwords must be a minimum of 12 characters and include 1 capital letter, 1 number and 1 special character.</p>
        <button>Register</button>
    </form>
</div>