<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
       <%  }) %>
    </ul>
    <% } %>
<div id="register-background">
    <form id="register-form" action="/account/register" method="post" >
        <h1><%- title %></h1>
        <p id="requirement">ALL FIELDS ARE REQUIRED.</p>
        <label for="account_firstname">First name</label>
        <input type="text" name="account_firstname" id="account_firstname" required>
        <label for="account_lastname">Last name</label>
        <input type="text" name="account_lastname" id="account_lastname" required>
        <label for="account_email">Email address</label>
        <input type="email" name="account_email" id="account_email" required placeholder="Enter a valid email address">
        <label for="email_password">Password</label>
        <span>  Passwords must be a minimum of 12 characters and include 1 capital letter, 1 number and 1 special character.</span>
        <input type="password" name="account_password" id="email_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s)(.{12,}$)">
        <button>Register</button>
    </form>
</div>