<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %> | CSE 340 App</title>
    <link rel="icon" href="https://icons8.com/icon/8QYUcyFie2zd/car-fire">
    <link rel="stylesheet" href="/css/styles.css">
</head>