<header id="top-header">
    <span class="siteName">
        <a href="/" title="Return to the home page">CSE Motors</a>
    </span>
    <div id="tools">
        <a title="Click to log in" href="/account/login">My Account</a>
    </div>
</header>