<h2>Welcome to CSE Motors!</h2>
<div class="float">
  <img src="/images/vehicles/delorean-tn.jpg" alt="Banner car" />
  <section id="parent-floater">
    <h3>DMC Delorean</h3>
    <p>
      3 Cup holders <br />
      Superman doors <br />
      fuzzy dicel
    </p>
    <img src="/images/site/own_today.png" alt="" />
  </section>
</div>
<section class="large-grid">
    <section class="large-1stpart">
  <h2>DMC Delorean Reviews</h2>
  <ul id="reviews">
    <li>"So fast it's almost like traveling in time."(4/5)</li>
    <li>"Coolest ride on the road."(4/5)</li>
    <li>"I'm feeling McFly! (5/5)</li>
    <li>"The most futuristic ride of our day." (4.5/5)</li>
    <li>"80's livin and love it!" (5/5)</li>
  </ul>
</section>
  <section class="large-2ndpart">
  <h2>Delorean Upgrades</h2>
  <section class="grid">
  <div class="upgrades" id="grid1">
    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor" id="pic1"/>
    <a href="">Flux Capacitor</a>
  </div>
  <div class="upgrades" id="grid2">
    <img src="/images/upgrades/flame.jpg" alt="Flame Decals" />
    <a href="">Flame Decals</a>
  </div>
  <div class="upgrades">
    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers" />
    <a href="">Bumper Stickers</a>
  </div>
  <div class="upgrades">
    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps" />
    <a href="">Hub Caps</a>
  </div>
</section>
</section>
</section>
</section>
