<%- messages() %>
<div class="managementview">
<h1><%- title %></h1>

<a href="/vehicle/classification">Add New Classification</a> 
<a href="/vehicle/addinventory">Add New Inventory</a>

</div>
<h2>Manage Inventory</h2>
<p>Please select a classification from the below drop down list to display vehicles by the selected classification</p>
<%- classificationList %>
<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>